label {
  position: absolute;
  display: block;
  width: 97%;
  height: 50px;
  padding: 18px 0 0 15px;
  border: 1px solid whitesmoke;
  background: #fafafa;
  @include border-radius(5px);
}

input[type="text"] {
  height: 50px;
  padding: 5px 0 0 15px;
  opacity: 1;
  position: relative;
  border: 1px solid whitesmoke;
  @include border-radius(5px);
  @include transition(opacity .2s ease-in-out);
}
